.homePageWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper{
  /* background: rgb(170, 198, 255); */
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
}

footer a{
  color: black;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainLabel{
  margin-bottom: 20px;
  margin-top: 0px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
