.homePageWrapper{
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper{
  /* background: rgb(170, 198, 255); */
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
}

footer a{
  color: black;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}
.mainLabel{
  margin-bottom: 20px;
  margin-top: 0px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.joinBtn, .leaveBtn{
  background: rgb(167, 87, 243);
  width: 100%;
}

.joinBtn:hover, .leaveBtn:hover{
  background: purple;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.asideInner{
    flex: 1;
}

.clientList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName{
  margin-top: 10px;
}

.logo{
  border-bottom: 1px solid purple;
  padding-bottom: 10px;
}

.leaveBtn{
  margin-top: 20px;
}

.CodeMirror {
  min-height: calc(100vh-10px);
  line-height: 1.6;
  padding-top: 20px;
  font-size: 20px;
}
